.hero-container{

    display:flex;
    gap: 20px;
    background-color: antiquewhite;
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    border-radius: 25px;
}
.hero-container img{
    width: 100%;
    height: 400px;
    border-radius: 25px;
}
.hero-container button{
    background-color: chartreuse;
    padding: 20px 10px;
    font-size: 1.25em;
    border-radius: 20px;
    cursor: pointer;

}
.hero-container div {
    font-size: 1.25em;
}